
/* Typical Device Breakpoints
-------------------------------
Small Screens: til 600px
Smartphones: 600px til 768px
Tablets: 768px til 992px
Desktops: 992px til 1200px
Big Screens: above 1200px */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #eae3e3dd;
}

/* Banner Section */

.banner{
    background: linear-gradient(to right, rgba(3, 3, 45, 0.851), rgba(28, 51, 133, 0.696)), url("../images/banner-coding.jpg") no-repeat center/cover;
    height: 70vh;
    color: #fff;
    min-width: 425px;
}

.banner-center{
    text-align: center;
    padding: 8rem 6rem;
    margin: 0 auto;
    transition: all 0.5s linear;
}

.banner-center:hover{
    transform: translateY(-20px);
}

.banner-center h1{
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

/* .banner-center h1:hover{
    transform: translateY(-20px);
} */

.banner-center p{
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
    padding: 0 10rem;
}

#banner-link{
    background: #222;
    border: 1px solid #ffffff5a;
    border-radius: 10px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 18px;
    padding: 1.2rem 1.8rem;
    transition: all 0.3s;
}

#banner-link:hover{
    background: #fff;
    color: black;
}

/* Media Query - Mobile*/

@media (max-width: 768px){
    
    .banner{
        background: linear-gradient(to right, rgba(3, 3, 45, 0.851), rgba(28, 51, 133, 0.696)), url("../images/banner-coding.jpg") no-repeat center/cover;
        height: 80vh;
        color: #fff;
        min-width: 425px;
    }

    .banner-center{
        text-align: center;
        padding: 8rem 1rem;
        margin: 0 auto;
    }
}

/* @media (max-width: 450px){

    .banner{
        width: 110vw;
    }
} */

/* Middle (Hero) Section */

.hero{
    height: 40vh;
}

.hero-center{
    text-align: center;
    margin: 2.5rem auto;
    color: #222;
    /* transition: all 0.3s linear; */
}

/* .hero-center:hover{
    transform: translateY(20px);
} */

.hero-center h2{
    text-transform: capitalize;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.hero-center p{
    padding: 0 8rem;
    line-height: 1.5rem;
}

/* Media Query - Mobile*/

@media (max-width: 768px){

    .hero{
        height: 40vh;
    }

    .hero-center{
        text-align: center;
        margin: 4rem auto;
        padding: 0 1rem;
        color: #222;
    }

    .hero-center p{
        padding: 0 2rem;
        line-height: 1.5rem;
    }
}
/* 
@media (max-width: 450px){

    .hero{
        height: 50vh;
    }

    .hero-center p{
        padding: 0 1rem;
        line-height: 1.5rem;
    }
} */

/*********** Posts Section *************/

.container{
    background: rgba(3, 17, 70, 0.901);
    color: #222;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 85vh;
}

.container div{
    background: #fff;
    border-radius: 2%;
    margin: 1rem 0.5rem;
    width: 250px;
    height: 500px;
    transition: all 1s;
}

.container div:hover{
    transform: translateY(-20px);
}

.container h3{
    margin: 2rem 0;
    text-transform: capitalize;
    font-size: 20px;
}

.container p{
    padding: 0 1.5rem;
    line-height: 1.5rem;
}

.container img{
    border-radius: 2%;
    width: 250px;
}

/* Media Query - Mobile*/

@media (max-width: 768px){
   
    .container{
        background: rgba(3, 17, 70, 0.901);
        color: #222;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 250vh;
    }

    .container div{
        background: #fff;
        border-radius: 2%;
        margin-top: 1rem;
        width: 450px;
        height: 550px;
    }
    
    .container img{
        width: 450px;
    }

    #column-1{
        margin-top: 2rem;
    }
    
    #column-3{
        margin-bottom: 2rem;
    }
}

/******** Hero Section 2 ***********/
/* The same code that the First HERO */
/******** Hero Section 2 ***********/

/******** Information ***********/

.information{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.information div{
    width: 50vw;
    height: 50vh; 
    text-align: center;
    color: #fff;
}

.information h2{
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}

.information p{
    padding: 0 1rem;
    line-height: 1.5rem;
}

#contact{
    background: rgba(20, 139, 230, 0.826);
}

#about{
    background: #222;
}

#email{
    margin-top: 3rem;
}

/* Media Query - Mobile*/

@media (max-width: 768px){
   
    .information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .information div{
        width: 100vw;
        height: 50vh; 
        text-align: center;
        color: #fff;
    }

    .information p{
        padding: 0 1rem;
        line-height: 1.5rem;
    }
}

/******* footer **********/

.footer{
    background: black;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.footer a{
    text-decoration: none;
    color: #fff;
}

.footer span{
    color:  rgba(20, 139, 230, 0.826);
}
